## Exercise: Array DataStructure

1. Let us say your expense for every month are listed below,

    - January - 2200
    - February - 2350
    - March - 2600
    - April - 2130
    - May - 2190
    
Create a list to store these monthly expenses and using that find out.


`1. In feb, how many dollars you spent extra compare to January?
 2. Find out your total expense in first quarter (first three months) of the year.
 3. Find out if you spent exactly 2000 dollars in any month.
 4. June month just finished and your expense is 1980 dollar. And this item to our monthly expense list
 5. Your returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense list based on this`

In [35]:
# Ans


# 0 - Jan, 1- Feb, 2- March, 3- April, 4-May
exp = [2200, 2350, 2600, 2130, 2190]

# 1.

In [36]:
# 1. In feb, how many dollars you spend extra compare to Januray?

extra = exp[1]-exp[0]

print(f"In feb, I spent extra ${extra} of dollars")

In feb, I spent extra $150 of dollars

# 2.

In [37]:
# 2. Find out your total expense in first quarter (first three months) 
# of the year

total = 0
for i in range(3):
    total += exp[i]

print(f"Total expense in first quarter is ${total}")

Total expense in first quarter is $7150

# 3.

In [38]:
# 3. Find out if you spent exactly 2000 dollars in any month

spent = 2000

for i in exp:
    if i == spent:
        print(f"Yes $2000 spent on {i}")
        break
    else:
        print(f"No such spendings")
        break

No such spendings

In [39]:
print("Did I spent 2000$ in any month?", 2000 in exp)

Did I spent 2000$ in any month? False

# 4.

In [27]:
# 4. June month just finished and your expense is 1980 dollar. 
# Add this item to our month

exp.append(1980)

In [40]:
print("Expenses at the end of June:",exp)

Expenses at the end of June: [2200, 2350, 2600, 2130, 2190]

# 5.

In [30]:
# 5. Your returned an item that your bought in a month of April and
# got a refund of 200$. Make a correction to your montly expense list
# based on this


# April is 3

refund = 200

exp[3] = exp[3] - refund

In [31]:
print(f"After refund our total spendings on April is {exp[3]}")

After refund our total spendings on April is 1930

# Exercise 2. 

You have a list of your favourite marvel super heros.

`heros = ['spider man','thor','hulk','iron man','captain america']`


Using this find out:

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [26]:
## Ans

heros = ['spider man','thor','hulk','iron man','captain america']

## 1

In [27]:
# 1. Length of the list

len(heros)

5

## 2

In [28]:
# 2. Add 'black panther' at the end of the list

heros.append('black panther')

## 3

In [29]:
# 3. You realize that you need to add 'black panther' after 'hulk'
# so remove it from the list first and then add it after 'hulk'

heros.remove('black panther')
heros.insert(3,'black panther')

In [30]:
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

## 4.

In [31]:
# 4. Now you don't like thor and hulk because they get angry easilyt
# So you want to remove thor and hulk from list and replace them with 
# doctor strange (because he is cool)

heros[1:3] = ['doctor strange']
heros

['spider man',
 'doctor strange',
 'black panther',
 'iron man',
 'captain america']

# 5.

In [32]:
# Sor the list in alphabetical order

heros.sort()
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']

# Exercise 3

Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function.

In [33]:
max = int(input("Enter max number:"))

odd_numbers = []

for i in range(max):
    if i%2 == 1:
        odd_numbers.append(i)

print("Odd numbers:", odd_numbers)

Enter max number:100
Odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]